@charset "utf-8";

#wrapper {
    position: relative;
    width: 100%;
    height: 100%;
    min-width: 1600px;
    /* min-width: 1259px; */
}

#container.controlBoard {
    min-width: 1900px;
}

#container {
    position: relative;
    width: 100%;
}

.header_wrap {
    position: relative;
    display: block;
    width: 100%;
    height: 130px;
    border-bottom: 1px #ddd solid;
    box-sizing: border-box;
}

.header_wrap .gnb_wrap {
    position: relative;
    display: block;
    width: 100%;
    height: 65px;
    border-bottom: 1px #ddd solid;
}

.header_wrap .gnb_wrap h1.logo {
    position: absolute;
    display: block;
    width: 169px;
    height: 65px;
    left: 52px;
    top: 0;
    border-right: 1px solid #ddd;
    z-index: 301;
}

.header_wrap .gnb_wrap h1.logo a {
    display: block;
    width: 133px;
    height: 31px;
    margin-top: 15px;
}

.header_wrap .gnb_wrap .user_session {
    position: absolute;
    display: block;
    width: 600px;
    height: 65px;
    right: 0;
    top: 0;
    z-index: 301;
    text-align: right;
}

.header_wrap .gnb_wrap .user_session a.join {
    position: relative;
    display: inline-block;
    width: 66px;
    height: 65px;
    border-left: 1px solid #ddd;
    border-right: 1px solid #ddd;
    box-sizing: border-box;
}

.header_wrap .gnb_wrap .user_session a.join::before {
    content: '';
    width: 24px;
    height: 20px;
    position: absolute;
    left: 23px;
    top: 22px;
    background: url(/inc/images/admin_icon_set.png) -38px -10px no-repeat;
}

.header_wrap .gnb_wrap .user_session a.login {
    position: relative;
    display: inline-block;
    width: 65px;
    height: 65px;
    /* border-left: 1px solid #ddd; */
    border-right: 1px solid #ddd;
    box-sizing: border-box;
}

.header_wrap .gnb_wrap .user_session a.login::before {
    content: '';
    width: 18px;
    height: 20px;
    position: absolute;
    left: 23px;
    top: 22px;
    background: url(/inc/images/admin_icon_set.png) -74px -10px no-repeat;
}

.header_wrap .gnb_wrap .user_session a.logout {
    position: relative;
    display: inline-block;
    width: 66px;
    height: 65px;
    border-left: 1px solid #ddd;
    /* border-right: 1px solid #ddd; */
    box-sizing: border-box;
    vertical-align: middle;
}

.header_wrap .gnb_wrap .user_session a.logout::before {
    content: '';
    width: 18px;
    height: 20px;
    position: absolute;
    left: 24px;
    top: 22px;
    background: url(/inc/images/admin_icon_set.png) -108px -10px no-repeat;
}

.header_wrap .gnb_wrap .user_session span.user {
    position: relative;
    display: inline-block;
    min-width: 200px;
    height: 65px;
    line-height: 65px;
    vertical-align: middle;
    padding: 0 20px 0 37px;
    text-align: left;
    border-left: 1px solid #ddd;
}

.header_wrap .gnb_wrap .user_session span.user::before {
    content: '';
    width: 14px;
    height: 15px;
    position: absolute;
    left: 16px;
    top: 24px;
    background: url(../images/icon_set.png) -10px -10px no-repeat;
}

.header_wrap .gnb_wrap .user_session a.btn_main {
    position: relative;
    display: inline-block;
    width: 65px;
    height: 65px;
    border-left: 1px solid #ddd;
    box-sizing: border-box;
    vertical-align: middle;
}

.header_wrap .gnb_wrap .user_session a.btn_main::before {
    content: '';
    width: 20px;
    height: 18px;
    position: absolute;
    left: 23px;
    top: 22px;
    background: url(/inc/images/admin_icon_set.png) -10px -121px no-repeat;
}

.header_wrap .gnb_wrap .user_session a.btn_dashboard {
    position: relative;
    display: inline-block;
    width: 65px;
    height: 65px;
    border-left: 1px solid #ddd;
    box-sizing: border-box;
    vertical-align: middle;
}

.header_wrap .gnb_wrap .user_session a.btn_dashboard::before {
    content: '';
    width: 20px;
    height: 18px;
    position: absolute;
    left: 22px;
    top: 22px;
    background: url(/inc/images/admin_icon_set.png) -38px -121px no-repeat;
}

/* navigation */
.navi1 {
    position: absolute;
    top: 65px;
    left: 0;
    width: 100%;
    height: 65px;
    overflow: hidden;
    z-index: 300;
    text-align: center;
    border-bottom: 1px #ddd solid;
    background: #fff url(/inc/images/bg_navi_admin.gif) 0 0 repeat-x;
}

.navi1 .navi1Ul {
    overflow: hidden;
    position: relative;
    line-height: 65px;
    width: 100%;
    height: 352px;
    text-align: left;
    margin-left: 64px;
}

.navi1 .navi1Ul li {
    /* position: relative; */
    overflow: hidden;
    text-align: left;
    display: inline-block;
    width: 170px;
    vertical-align: top;
}

/* .navi1 .navi1Ul li a.oneD.on {
    color: #ec6608;
} */

/* .navi1 .navi1Ul li:hover::before {
    content: '';
    width: 80px;
    height: 2px;
    background-color: #ec6608;
    position: absolute;
    top: 63px;
    left: 31px;
} */

.navi1 .navi1Ul li a {
    display: block;
    text-decoration: none;
    margin: 0 0px;
}

.navi1 .navi1Ul li a span {
    display: inline-block;
    height: 65px;
}

.navi1 .navi1Ul li:nth-of-type(5) a {
    text-align: center;
    padding-right: 50px;
}

.navi1 .navi1Ul li:nth-of-type(5) a span {
    padding: 0 18px;
}

.navi1 .navi1Ul li .twoD a {
    margin: 0 0px;
    text-align: left;
}

.navi1 .navi1Ul li a:hover {
    text-decoration: none !important;
}

.navi1 .navi1Ul li .oneD {
    display: block;
    height: 65px;
    font-size: 16px;
    color: #333;
    font-weight: bold;
}

.navi1 .navi1Ul li a.oneD.on span {
    color: #ec6608;
    border-bottom: 2px solid #ec6608;
}

.navi1 .navi1Ul li a.oneD:hover span {
    color: #ec6608;
    border-bottom: 2px solid #ec6608;
}

.navi1 .navi1Ul li.on .oneD {
    color: #ec6608;
}

.navi1 .navi1Ul li .twoD {
    padding: 14px 0 10px 0px;
    line-height: 32px;
    height: 275px;
}

.navi1 .navi1Ul li .twoD a {
    display: block;
    letter-spacing: 0px;
    font-size: 14px;
    color: #333;
    letter-spacing: -0.5px;
}

.navi1 .navi1Ul li .twoD a:hover {
    text-decoration: none;
    color: #ec6608;
}

.navi1 .navi1Ul li .twoD .on {
    color: #ec6608;
}

.navi1 ul.threeD {
    line-height: 20px;
    height: unset;
    padding: 0;
    margin: 0;
    margin-bottom: 6px;
}

.navi1 ul.threeD li a.threeD {
    font-size: 13px;
    color: #666;
    line-height: 20px;
}

.navi1 ul.threeD li a.threeD::before {
    content: '-';
    display: inline-block;
    margin-right: 5px;
}

/* //navigation */

.quickmenu_wrap {
    position: absolute;
    top: 160px;
    right: 0;
    display: block;
    width: 87px;
    border: 1px solid #ddd;
    border-radius: 2px;
    padding: 4px 0px 0 0px;
    background-color: #fff;
    z-index: 200;
}

.quickmenu_wrap section a {
    position: relative;
    display: block;
    width: 65px;
    height: 87px;
    border-bottom: 1px solid #ccc;
    text-align: center;
    margin: 0 auto;
    text-decoration: none;
    padding-top: 52px;
    font-size: 12px;
    color: #333;
    line-height: 14px;
}

.quickmenu_wrap section a:last-child {
    border-bottom: none;
}

.quickmenu_wrap a.test::before {
    content: '';
    width: 36px;
    height: 36px;
    position: absolute;
    top: 7px;
    left: 14px;
    background: url(/inc/images/admin_icon_set.png) -73px -121px no-repeat;
}

.quickmenu_wrap a.gate::before {
    content: '';
    width: 36px;
    height: 36px;
    position: absolute;
    top: 7px;
    left: 14px;
    background: url(/inc/images/admin_icon_set.png) -118px -121px no-repeat;
}

.quickmenu_wrap a.schedule::before {
    content: '';
    width: 36px;
    height: 36px;
    position: absolute;
    top: 7px;
    left: 14px;
    background: url(/inc/images/admin_icon_set.png) -165px -121px no-repeat;
}

.quickmenu_wrap a.top {
    position: relative;
    display: block;
    width: 100%;
    height: 36px;
    border-top: 1px solid #ccc;
    background-color: #eee;
}

.quickmenu_wrap a.top::before {
    content: '';
    width: 50px;
    height: 18px;
    position: absolute;
    top: 10px;
    left: 19px;
    background: url(/inc/images/admin_icon_set.png) -216px -121px no-repeat;
}

.content {
    position: relative;
    display: block;
    min-height: 640px;
    margin: 8px 117px 0 64px;
}

.content .wrap_left {
    display: inline-block;
    /* width: 1269px; */
    width: calc(100% - 450px);
    vertical-align: top;
}

.content .wrap_left .title {
    font-size: 20px;
}

.content .wrap_left h2 button {
    margin-top: -5px;
}

.content .wrap_left h3,
.content .wrap_right h3 {
    font-size: 18px;
    color: #333;
    font-weight: normal;
    line-height: 1;
}

.content .wrap_left h3 span {
    float: right;
    font-size: 14px;
    color: #666;
    line-height: 1;
    margin-top: 5px;
}

.content .wrap_left h3 span strong {
    color: #ec6608;
    font-weight: normal;
}

.content .wrap_left .row table th {
    font-size: 16px;
}

.content .wrap_left .row table td {
    height: 90px;
    font-size: 26px;
    color: #333;
}

.content .wrap_right {
    display: inline-block;
    width: 420px;
    margin-left: 26px;
    padding-top: 30px;
    vertical-align: top;
}

.content.no-padding {
    padding: 0;
}

.breadcrumb {
    position: relative;
    display: block;
    font-size: 13px;
    color: #999;
    text-align: right;
    height: 15px;
    line-height: 15px;
}

.breadcrumb span {
    position: relative;
    color: #999;
    padding-right: 15px;
    margin-right: 7px;
    line-height: 15px;
    vertical-align: middle;
}

.breadcrumb span:last-child {
    padding-right: 0;
    color: #333;
}

.breadcrumb span.breadcrumb_icon {
    display: inline-block;
    width: 16px;
    height: 15px;
    background: url(/inc/images/admin_icon_set.png) -138px -10px no-repeat;
    padding-right: 32px;
    vertical-align: middle;
    margin-bottom: 3px;
}

.breadcrumb span.breadcrumb_icon::after {
    top: 3px;
}

.breadcrumb span::after {
    content: '';
    width: 7px;
    height: 11px;
    position: absolute;
    top: 1px;
    right: 0;
    background: url(/inc/images/admin_icon_set.png) -176px -10px no-repeat;
}

.breadcrumb span:last-child:after {
    content: none;
}

.qrinfo {
    position: relative;
    float: right;
    display: block;
    padding: 10px 0;
}

h2.title {
    display: block;
    font-size: 24px;
    color: #333;
    text-align: left;
    font-weight: normal;
    line-height: 1;
    margin: 27px 0 30px 0;
}

h3.stitle {
    position: relative;
    display: block;
    font-size: 16px;
    color: #333;
    font-weight: normal;
    line-height: 1;
}

.ly_con h3.stitle {
    position: relative;
    display: block;
    font-size: 18px;
    color: #333;
    font-weight: normal;
    line-height: 1;
}

h3.stitle span {
    color: #666;
}

h3.stitle .form_group {
    position: absolute;
    right: -13px;
    top: 7px;
    color: #666;
}

h3.stitle .form_group.top0 {
    position: absolute;
    right: -13px;
    top: 0px;
    color: #666;
}

h3.stitle .form_group.top0_2 {
    position: absolute;
    right: 0px;
    top: -5px;
    color: #666;
}

h3.stitle button {
    position: absolute;
    right: 0px;
    top: -3px;
}

h3.stitle span.tar {
    position: absolute;
    right: 0;
    top: 0;
}

h3.stitle span.tar button {
    position: relative;
}


.login_wrap {
    position: relative;
    display: block;
    width: 500px;
    margin: 0 auto;
    padding-top: 50px;
}

.login_wrap p {
    font-size: 24px;
    color: #666;
    line-height: 1;
    text-align: center;
}

.login_wrap .btn_wrap {
    position: relative;
    display: block;
    text-align: center;
}

.login_wrap .btn_wrap a {
    padding: 0 12px;
    border-right: 1px solid #ddd;
}

.login_wrap .btn_wrap a:last-child {
    border-right: none;
}

.find_wrap {
    position: relative;
    display: block;
    text-align: center;
}

.find_wrap p {
    font-size: 22px;
    line-height: 28px;
}




.footer {
    position: relative;
    display: block;
    height: 117px;
    border-top: 1px solid #ddd;
    box-sizing: border-box;
    padding: 38px 0 0 45px;
    margin-top: 80px;
}

.footer section {
    position: relative;
    display: block;
    font-size: 12px;
    line-height: 16px;
}

.footer section p {
    display: inline-block;
    margin: 8px 0 0 27px;
    color: #999;
}