@charset "utf-8";

/* html,
body {
    background-color: #000;
} */

#wrapper.dashBoard_Lobby {
    position: absolute;
    top: 0;
    right: 0;
    width: 360px;
    min-width: 360px;
    height: 960px;
    padding: 25px 0;
    background: #000;
}

#wrapper.dashBoard_Lobby #container {
    position: relative;
    width: 310px;
    height: 910px;
}

#wrapper.dashBoard_Lobby .content {
    position: relative;
    display: block;
    width: 310px;
    height: 910px;
    margin: 0 25px !important;
}

#wrapper.dashBoard_Lobby .content .col_left {
    display: block;
    width: calc(100% - 335px);
    margin-right: 24px;
    /* padding: 23px 0; */
}

#wrapper.dashBoard_Lobby .content .col_right {
    display: block;
    width: 310px;
    height: 910px;
    background: url(/inc/images/bg_DashBoard_Lobby_right.png) 0 0px no-repeat;
}

#wrapper.dashBoard_Lobby .content .col_right .wrap_today {
    display: block;
    width: 243px;
    padding: 65px 0 42px 0;
    margin: 0 auto;
    border-bottom: 2px solid #000;
}

#wrapper.dashBoard_Lobby .content .col_right .wrap_today .time {
    display: block;
    font-size: 80px;
    color: #fff;
    text-align: center;
    line-height: 1;
    /* font-family: HankookTireKR_L;
    font-weight: bold; */
}

#wrapper.dashBoard_Lobby .content .col_right .wrap_today .date {
    display: block;
    font-size: 20px;
    color: #fff;
    text-align: center;
    margin-top: 18px;
}

#wrapper.dashBoard_Lobby .content .col_right .wrap_Wicon {
    display: block;
    width: 240px;
    height: 167px;
    margin: 0 auto;
}

#wrapper.dashBoard_Lobby .content .col_right .wrap_Wicon .w_snow span {
    display: block;
    font-size: 24px;
    font-weight: bold;
    color: #b191c7;
    text-align: center;
    line-height: 1.5;
}

#wrapper.dashBoard_Lobby .content .col_right .wrap_Wicon .w_snow span.icon {
    display: block;
    width: 100%;
    text-align: center;
}

/* #wrapper.dashBoard_Lobby .content .col_right .wrap_Wicon .w_snow span::after {
    content: '';
    display: block;
    width: 118px;
    height: 118px;
    background: url(/inc/images/icon_weather_Lobby.png) 0 0 no-repeat;
    margin: 25px 60px 0 60px;
} */

#wrapper.dashBoard_Lobby .content .col_right .wrap_Wicon .w_sunny span {
    display: block;
    font-size: 24px;
    font-weight: bold;
    color: #ec670a;
    text-align: center;
    line-height: 1;
}

/*#wrapper.dashBoard_Lobby .content .col_right .wrap_Wicon .w_sunny span::after {
    content: '';
    display: block;
    width: 118px;
    height: 118px;
    background: url(/inc/images/icon_weather_Lobby.png) -118px 0 no-repeat;
    margin: 25px 60px 0 60px;
}*/

#wrapper.dashBoard_Lobby .content .col_right .wrap_Wicon .w_rain span {
    display: block;
    font-size: 24px;
    font-weight: bold;
    color: #999;
    text-align: center;
    line-height: 1;
}

/*#wrapper.dashBoard_Lobby .content .col_right .wrap_Wicon .w_rain span::after {
    content: '';
    display: block;
    width: 118px;
    height: 118px;
    background: url(/inc/images/icon_weather_Lobby.png) -236px 0 no-repeat;
    margin: 25px 60px 0 60px;
}*/

#wrapper.dashBoard_Lobby .content .col_right .wrap_Wicon .w_wind span {
    display: block;
    font-size: 24px;
    font-weight: bold;
    color: #4db2ff;
    font-family: NotoS_B;
    text-align: center;
    line-height: 1;
}

/*#wrapper.dashBoard_Lobby .content .col_right .wrap_Wicon .w_wind span::after {
    content: '';
    display: block;
    width: 118px;
    height: 118px;
    background: url(/inc/images/icon_weather_Lobby.png) -354px 0 no-repeat;
    margin: 25px 60px 0 60px;
}*/

#wrapper.dashBoard_Lobby .content .col_right .wrap_Wicon .w_lightning span {
    display: block;
    font-size: 24px;
    font-weight: bold;
    color: #ffa600;
    text-align: center;
    line-height: 1;
}

/*#wrapper.dashBoard_Lobby .content .col_right .wrap_Wicon .w_lightning span::after {
    content: '';
    display: block;
    width: 118px;
    height: 118px;
    background: url(/inc/images/icon_weather_Lobby.png) -472px 0 no-repeat;
    margin: 25px 60px 0 60px;
}*/

#wrapper.dashBoard_Lobby .content .col_right .wrap_Wicon .w_cloud span {
    display: block;
    font-size: 24px;
    font-weight: bold;
    color: #bbb;
    text-align: center;
    line-height: 1;
}

/*#wrapper.dashBoard_Lobby .content .col_right .wrap_Wicon .w_cloud span::after {
    content: '';
    display: block;
    width: 118px;
    height: 118px;
    background: url(/inc/images/icon_weather_Lobby.png) -590px 0 no-repeat;
    margin: 25px 60px 0 60px;
}*/

#wrapper.dashBoard_Lobby .content .col_right .wrap_temp {
    display: block;
    overflow: hidden;
}

#wrapper.dashBoard_Lobby .content .col_right .wrap_temp p {
    display: block;
    width: 100%;
    font-size: 18px;
    color: #ccc;
    text-align: center;
    line-height: 1.4;
}

#wrapper.dashBoard_Lobby .content .col_right .wrap_temp .wrap_state {
    display: block;
    margin-top: 7px;
}

#wrapper.dashBoard_Lobby .content .col_right .wrap_temp .wrap_state .col {
    float: left;
    width: 152px;
    text-align: center;
    font-size: 60px;
    color: #fff;
    line-height: 1;
}

#wrapper.dashBoard_Lobby .content .col_right .wrap_temp .wrap_state .col small {
    display: inline-block;
    height: 14px;
    line-height: 1;
    font-size: 40px;
    font-family: NotoS_L;
    vertical-align: top;
    margin: 0px 0 0 2px;
}

#wrapper.dashBoard_Lobby .content .col_right .wrap_temp .wrap_state .col small.ms {
    font-size: 14px;
    margin: 0 0 12px 0px;
    vertical-align: bottom;
}

#wrapper.dashBoard_Lobby .content .col_right .wrap_temp .wrap_state .col span {
    display: block;
    font-size: 18px;
    margin-top: 7px;
    font-weight: bold;
}

#wrapper.dashBoard_Lobby .content .col_right .wrap_temp .wrap_state span.line {
    /* display: inline-block; */
    float: left;
    width: 1px;
    height: 40px;
    background: #ccc;
    margin: 30px 0 0 0;
    vertical-align: top;
}