/* 한국타이어체 */

/*@font-face {
     font-family: 'HankookTireKR_L';
     font-style: normal;
     font-weight: 200;
     src: url(../font/HankookKRTTFLight.eot),
          url(../font/HankookKRTTFLight.eot?#iefix) format('embedded-opentype'),
          url(../font/HankookKRTTFLight.woff2) format('woff2'),
          url(../font/HankookKRTTFLight.woff) format('woff');
}*/

@font-face {
     font-family: 'HankookTireKR_L';
     font-style: normal;
     font-weight: 200;
     src: url(../font/HankookTTFLight.eot);
     src: local(※), url(../font/HankookTTFLight.eot?#iefix) format('embedded-opentype'),
     url(../font/HankookTTFLight.woff2) format('woff2'),
     url(../font/HankookTTFLight.woff) format('woff');
}

/*@font-face {
     font-family: 'HankookTireKR_R';
     font-style: normal;
     font-weight: 400;
     src: url(../font/HankookKRTTFRegular.eot),
          url(../font/HankookKRTTFRegular.eot?#iefix) format('embedded-opentype'),
          url(../font/HankookKRTTFRegular.woff2) format('woff2'),
          url(../font/HankookKRTTFRegular.woff) format('woff');
}*/

@font-face {
     font-family: 'HankookTireKR_R';
     font-style: normal;
     font-weight: 400;
     src: url(../font/HankookTTFRegular.eot);
     src: local(※), url(../font/HankookTTFRegular.eot?#iefix) format('embedded-opentype'),
     url(../font/HankookTTFRegular.woff2) format('woff2'),
     url(../font/HankookTTFRegular.woff) format('woff');
}